.options {
  display: flex;
  justify-content: space-evenly;
}

.buttons {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 0;
  border: none;
  outline: none;
  background-color: #945b40;
  color: #f8f3e0;
  box-shadow: 10px 5px 5px #f8f3e040, -10px -5px 5px #f8f3e040;
}

.buttons:hover,
.buttons:focus {
  box-shadow: inset 10px -10px 20px 5px #68311d2c,
    inset -10px 10px 20px 5px #68311d38, 10px -10px 20px 5px #f8f3e07e,
    -10px 10px 20px 5px #f8f3e07e;
}

.reset {
  background-color: #650505;
  color: #f8f3e0;
  position: absolute;
  top: 56px;
  right: 82px;
}

.reset:hover,
.reset:focus {
  box-shadow: inset 10px -10px 20px 5px #3d02023d,
    inset -10px 10px 20px 5px #3d02023d, 10px -10px 20px 5px #f8f3e07e,
    -10px 10px 20px 5px #f8f3e07e;
}
